@import 'https://fonts.googleapis.com/css?family=Indie+Flower';


h1 { font-family: Indie Flower;
}
h1 {
  color: pink;
}
h2 {font-family: Indie Flower;
}
h3 {font-family: Indie Flower;
}
h2 {
color :pink;
}
p {color : gray;
}
h3 {color : pink
}
p2{color : gray
}
